@(configList : List[String])(implicit session: Session)
@pagejs = {
    <script type="text/javascript">
        $(function(){
            $('#config_list').change(function(){
                var config = $("#config_list").val()
                $('#set_config').val(config);
            });

            $('#uploadForm').attr("action","/upload?" + Math.random())
        });
    </script>
}
@layout.master("票号信息提取")(pagejs) {
    <p>
        <label>配置选择</label>
    <select name="config" id="config_list">
        @for(config <- configList){
            <option value=@config>
                @config
            </option>
        }
    </select>
    </p>

    <!-- upload form start -->
    @helper.form(action = routes.DetrController.upload, 'enctype -> "multipart/form-data", 'id -> "uploadForm") {
        <input id="set_config" type="hidden" name="config" value="116.213.132.7:350:detr:www2730826">
        <p>
            <input type="file" name="excel">
        </p>

        <p>
            <input type="submit">
        </p>
    }
    <!-- upload form end -->
}
