<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />
  <!--控制台输出 -->
  <appender name="stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
  </appender>>
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        logs/log.%d{yyyy-MM-dd}.log
      </FileNamePattern>
      <!--日志保存30天 -->
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level from %logger in - %message%n</pattern>
    </encoder>
  </appender>
  <!--错误 -->
 <!--
 <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <FileNamePattern>
       logs/error.%d{yyyy-MM-dd}.log
       <MaxHistory>30</MaxHistory>
     </FileNamePattern>
   </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{80} - %msg%n</pattern>
    </encoder>

  </appender>
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="com.kunpeng.detr" additivity="true">
    <level value="Info"/>
    <appender-ref ref="file"/>
  </logger>


  <root level="Info">
    <appender-ref ref="file" />
    <appender-ref ref="file-str"/>
    <!--<appender-ref ref="file—error" />-->
    <!--<appender-ref ref="ASYNCSTDOUT" />-->
  </root>

</configuration>
