@(title: String)(pagejs: Html)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/theme.css")" rel="stylesheet">
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body role="document">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/configself">用户配置</a></li>
                        <li><a href="/detr/upload">票号信息提取</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container theme-showcase" role="main">
            @content
            <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
            <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
            @pagejs
            <script>
                $('#navbar li a[href="'+window.location.pathname+'"]').parent().addClass('active');
            </script>
        </div>
    </body>
</html>
