@(users: List[User])
@pagejs = {
    <script type="text/javascript">
        function add_user(){
            $.ajax({
                    url : '/user/add',
                    type : 'POST',
                    data :{
                        "username" : $('#user_name').val(),
                        "password" : $('#password').val(),
                        "isAdmini" : $('input[name="optionsRadios"]:checked').val()
                    },
                    success: function(){
                        alert("插入成功！")
                        location.reload();
                    },
                    error:function(error){
                        if(error = 900){
                            alert("用户名重复，请重新输入新的用户名")
                        }else{
                            alert("插入失败！")
                        }

                    }
                });
            }
        function del_user(userId) {
            $.ajax({
                url : '/user/del/' + userId,
                type : 'DELETE',
                success: function(){
                    alert("删除成功！");
                    location.reload();
                },
                error:function(error){
                    alert("删除失败！")
                }
            });
        }
        function view_config(userId){
            location.href = "config/" + userId
        }
        </script>
}
@layout.master("用户管理")(pagejs){
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-10 col-md-offset-1 main">
                <h3 class="sub-header">用户列表</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>是否管理员</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" id="user_name"/></td>
                                <td><input type="text" id="password"/></td>
                                <td>
                                    <div id="is_admini" class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="config_isAdmini1" value="true"/>
                                            是
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="config_isAdmini2" value="fasle" checked/>
                                            否
                                        </label>
                                    </div>
                                </td>

                                <td><button type="button" id="add_user" class="btn btn-primary" onclick="add_user()">
                                    添加</button></td>
                            </tr>

                        </tbody>
                        <tbody>
                        @for(user <- users) {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Password</td>
                                <td>@user.IsAdmini</td>
                                <td>
                                    <button type="button" id="del" class="btn btn-primary" onclick="del_user('@user.Id')">删除</button>
                                    <button type="button" id="view" class="btn btn-primary" onclick="view_config('@user.Id')">查看配置</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

